/* /////////// todo card /////////////// */
.todo-card {
  border: 1px solid #aaa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.btn-card {
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  margin-left: 7px;
}
.undone-btn {
  background-color: orange;
}
.done-btn {
  background-color: green;
}
.edit-btn {
  background-color: dodgerblue;
}
.delete-btn {
  background-color: rgb(227, 5, 86);
}
