* {
  margin: 0;
  font-family: Tahoma;
}
/* ///////// header ////////// */
header {
  background-color: rgba(35, 35, 35, 0.898);
  color: white;
  padding: 1rem 2rem;
}


/* /////////// todo list /////////////// */
.todo-list {
  width: 30%;
  margin: 30px auto;
}
.tab-btn {
  background: no-repeat;
  border: 1px solid #aaa;
  border-bottom: none;
  padding: 10px;
  margin-right: 1px;
}
.text-tab {
  font-weight: bold;
  font-size: 11pt;
}
.count-tab {
  display: inline-block;
  width: 16px;
  border-radius: 50%;
  color: white;
  margin-left: 5px;
}
.count-undone-tab {
  background: green;
}
.count-done-tab {
  background: gray;
}



/* ############ footer ############ */
footer{
  background: #000;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}